<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.pablorios.myfavouritepetsv2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".activities.PetsDetalle"
            android:exported="false"
            android:label="@string/petsviewLabel"
            android:parentActivityName=".activities.PetsList" />
        <activity
            android:name=".activities.PetsList"
            android:exported="false"
            android:label="@string/listaDePets"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddPetsActivity"
            android:exported="false"
            android:label="@string/addPetsLabel" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>

                <!--  -->
                <data android:mimeType="*/*" />

                <action android:name="android.intent.action.MAIN" />
                <!--  -->
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>